@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
  font-family: 'overpass', sans-serif;
}

body{
    background-color: hsl(216, 12%, 8%);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container{
    background: linear-gradient(to top, #181e27 100%, #232a34 100%);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 400px;
    border-radius: 20px;
    padding: 30px;
}

.rating-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.star{
    margin: 10px;
    background-color:  hsl(213, 19%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 100%;
    width: 20px;
}

img{
    width: 45px;
    height: auto;
}

.txt{
    margin: 15px  0 0 15px;
    max-width: 450px;
}

h1{
    color: hsl(0, 0%, 100%);
}

p{
    color: hsl(217, 12%, 63%);
    font-size: 16px;
}

.rating{
    margin: 15px;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    border: none;
}

.rating:hover{
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

.rating:active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.submit{
    background-color: hsl(25, 97%, 53%);
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 4px;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

